@charset "utf-8";
/* CSS Document */

body {
	background: #343a40;
}

header.masthead>.overlay.short {
  padding: 1rem 0;
}

header {
  text-align: center;
}

.text-white {
  color: #fff !important;
}

#addressform {
  color: white;
  text-align: center;
}

#address {
  font-size: .85em;
  padding: 4px;
  width: 310px;
  border: #999 3px solid;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 1px;
  text-align: center;
}

pre {
  color:#fff;
}

div.generatestatuskey {
  color: white;
  text-align: center;
  padding: 1em;
}

.submit-button {
  background: #EEE;
  border: 1;
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 6px;
  color: #000;
  text-transform: uppercase; 
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.submit-button:hover {
    background-color: #84cc84;
    color: #000;
}

span.label {
  font-weight: bold;
  padding: 3px;
}

.worker h3 {
  text-align: center;
  text-transform:uppercase;
  margin: 3px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1em;
  margin: .3em 0 .45em;
}
table tr:nth-child(even) {
  background: #ccc;
  border: 1px solid #ddd;
  padding: .25em;
}
table tr:nth-child(odd) { 
  background: #f8f8f8; 
}

table th,
table td {
  padding: .3em;
  text-align: center;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

table td {
  font-size: .75em;
}
table th {
  background-color: #444;
  color: white;
  font-size: .75em;
  letter-spacing: .05em;
  text-transform: uppercase;
  width: auto;
}
	
div.worker {
  justify-content: center;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

div.workers {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  align-items: stretch;
  justify-content: center;
}


div.worker_Stopped {
  background-color: #ECADA2;
}

div.worker_Running {
  background-color: #BDEAD0;
}

div.statuscontainer {
  display: flex;
  height: 50px;
}

div.statuscontainer div {
  font-size: .8em;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: center;
}

div.workerstatus {
  justify-content: flex-start;
}
div.lastseen {
  justify-content: center;
}
div.btcday {
  justify-content: flex-end;
}
div.statuscontainerbasic div {
  clear: both;
}

div.statuscontainerbasic div span.label {
  width: 6em;
  display: inline-block;
}

@media only screen 
and (min-device-width: 375px)
and (max-device-width: 1024px)
and (orientation : portrait) 
{
	
table {
    border: 0;
}

table caption {
    font-size: 1.3em;
}

table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
}

table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}

table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

table td:last-child {
    border-bottom: 1px solid #ddd;
}

div.statuscontainer {
  height: 40px;
}

div.statuscontainer div {
  font-size: .65em;
  align-items: center;
}


div.workerstatus {
  justify-content: flex-start;
}
div.lastseen {
  justify-content: center;
}
div.btcday {
  justify-content: flex-end;
}
div.statuscontainerbasic div {
  clear: both;
}
}
