#addressform {
  text-align: center;
}

#address {
  width: 25em;
}

.worker h3 {
  text-align: center;
  margin: 5px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

span.label {
  font-weight: bold;
  padding: 5px;
}

div.activeminers td, .activeminers th {
  border: 1px solid grey;
  font-size: small;
}

th { text-align: left; }

div.workers {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  align-items: stretch;
  justify-content: center;
}

div.worker {
  justify-content: center;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

div.worker_Stopped {
  background-color: #ECADA2;
}
div.worker_Running {
  background-color: #84cc84;
}

div.workerdetailed {
  flex-basis: 900px;
}

div.statuscontainer {
  display: flex;
  height: 50px;
}

div.statuscontainer div {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.statuscontainerbasic div {
  clear: both;
}
div.statuscontainerbasic div span.label {
  width: 5em;
  display: inline-block;
}

#showdetail {
  height: 18px;
  width: 18px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
